body
{
background-size: cover;
}
.note
{
    font-size: 25px;
    color: black;
}
#song
{
    box-shadow: 5px 5px 5px grey;
    font-size: 25px;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px #73cfd8;
}